@model RubricaTelefonica.Models.contatto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>contatto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cognome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.indirizzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.indirizzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_nascita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_nascita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preferito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preferito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoria.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria.nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
